body {
  position: relative;
}

/* #app {
  width: calc(100vw - 50px - 350px) !important;
  height: calc(100vh - 100px) !important;
  position: absolute !important;
  top: 50px!important;
  left: 50px!important;
}

.app {
  width: 100%!important;
} */

.app {
  width: calc(100vw - 50px - 350px) !important;
  margin-right: 350px !important;
  margin-left: 50px !important;
  margin-top: 50px !important;
  z-index: 1111;
}

.app-wrapper-web ._3fUe9 {
  height: calc(100vh - 100px) !important;
}


.sideBar {
  width: 50px;
  height: 100vh;
  position: absolute;
  top: 0;
  border: 1px solid grey;
  left: 0;
  background: #014489;
  padding: 0;
  z-index: 111;
}

.quick-replies {
  height: 50px;
  bottom: 0;
  left: 50px;
  width: calc(100vw - 50px - 350px);
  position: absolute;
  border-top: 1px solid grey;
  background: #fff;
  padding: 0; 
}

.mainMenu {
  width: 350px;
  bottom: 0;
  right: 0;
  height: calc(100vh - 50px);
  position: absolute;
  border-left: 1px solid grey;
  background: #fff;
  display: block;
}

.topLogo {
  height: 50px;
  top: 0;
  left: 50px;
  width: calc(100vw - 50px);
  position: absolute;
  border-bottom: 1px solid grey;
  background: #fff;
  padding: 10px; 
}

@media screen and (min-width: 1441px) {
  ._1FPJ-:after {
    width: 0!important;
  }

  .app-wrapper-web ._3fUe9 {
    height: 100%!important;
    top: 0!important;
  }
}
