@value colors: "../../global-style/colors.css";
@value (mainGreyColor, hoverGreyColor, greyColor, darkGreyColor) from colors;

.mainBottomAreaWrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.mainBottomAreaWrapper i {
    color: darkGreyColor;
}

.mainBottomAreaWrapper>div {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainBottomAreaWrapper>div:first-child{
    width: 30%;
    border-right: 1px solid #ddd;
}

.mainBottomAreaWrapper>div:nth-child(2){
    width: 70%;
}

p {
    margin: 0!important;
    padding: 10px 0 0 10px!important;
}

.filtersField {
    position: relative;
    background: greyColor;
}

.filtersField>div:first-child {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.filtersField>div:first-child:hover {
    background: hoverGreyColor!important;
}

.quickReplies,
.filters {
    border: 1px solid #ddd;
    width: 100%;
    position: absolute;
    bottom: 50px;
    left: 0;
    z-index: 111111111;
    background: #fff;
    text-align: center;
    padding-bottom: 20px;
    background: greyColor;
}

.quickReplies>div,
.filters>div {
    text-align: left;
}

.filters p,
.colorField {
    padding-left: 10px;
}

.filters>div>p,
.quickReplies>div>div>p {
    font-weight: 800;
    font-size: 16px;
    color: darkGreyColor;
}

.quickReplies>button {
    margin-top: 30px;
}

.filters>div>div {
    cursor: pointer;
}

.disableQuickReplies,
.disableFilters {
    display: none;
}

.divider {
    width: 100%;
    height: 1px;
    background: #ddd;
    margin-top: 10px;
}

.quickRepliesField {
    display: flex;
}

.quickRepliesField>div:first-child {
    width: calc(100% - 60px);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background: greyColor;
}

.quickRepliesMainField {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 10px;
}

.iconDown {
    padding: 5px 0 0 0!important;
}

.quickRepliesMainField:hover {
    background: hoverGreyColor!important;
}

.quickRepliesField>div:nth-child(2) {
    width: 60px;
}

.emailButton {
    height: 100%;
    text-align: center;
    border-left: 1px solid #ddd;
    background: greyColor;
    cursor: pointer;
}

.emailButton:hover {
    background: hoverGreyColor!important;
}

.emailButton>i {
    font-size: 22px;
    margin-top: 15px;
    color: darkGreyColor;
}

.colorField {
    display: flex;
    align-items: center;
}

.colorField>p {
    padding: 0 0 0 10px!important;
}

.colorCircle {
    border-radius: 3px;
    width: 10px;
    height:10px;
}

.storagedImg {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.chosenQuickReplies {
    color: darkGreyColor;
    font-size: 16px;
    font-weight: 800;
    display: flex;
    padding: 0 0 0 10px!important;

}

.checkboxGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 0 10px;
}

.quickRepliesItem {
    cursor: default;
}

.quickRepliesItem:hover {
    cursor: pointer;
    background: hoverGreyColor;
}

.filterCheckbox {
    margin-right: 15px!important;
}

.filterField {
    padding: 10px 0 0 0;
}

.filterItem>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hoverFilterEffect {
    background: hoverGreyColor!important;
}