.mainBottomAreaWrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.mainBottomAreaWrapper>div {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainBottomAreaWrapper>div:first-child{
    width: 30%;
    border-right: 1px solid #ddd;
}

.mainBottomAreaWrapper>div:nth-child(2){
    width: 70%;
}

p {
    margin: 0!important;
    padding: 10px 0 0 10px!important;
}

.filtersField {
    position: relative;
    padding: 0 10px;
}

.quickReplies,
.filters {
    border: 1px solid #ddd;
    width: 100%;
    position: absolute;
    bottom: 50px;
    left: 0;
    z-index: 111111111;
    background: #fff;
    text-align: center;
    padding-bottom: 20px;
}

.quickReplies>div,
.filters>div {
    text-align: left;
}

.filters p,
.colorField {
    padding-left: 10px;
}

.filters>div>p {
    font-weight: 700;
}

.quickReplies>button {
    margin-top: 30px;
}

.disableQuickReplies,
.disableFilters {
    display: none;
}

.divider {
    width: 100%;
    height: 1px;
    background: #ddd;
    margin-top: 10px;
}

.quickRepliesField {
    display: flex;
}

.quickRepliesField>div:first-child {
    width: calc(100% - 60px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 10px;
}

.quickRepliesField>div:nth-child(2) {
    width: 60px;
}

.emailButton {
    height: 100%;
    text-align: center;
    border-left: 1px solid #ddd;
}

.emailButton>i {
    font-size: 22px;
    margin-top: 15px;
}

.colorField {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.colorField>p {
    padding: 0 0 0 10px!important;
}

.colorCircle {
    border-radius: 3px;
    width: 10px;
    height:10px;
}
