@value colors: "../../global-style/colors.css";
@value (hoverGreyColor) from colors;

.newMessageWrapper>h2 {
    text-transform: capitalize;
    text-decoration: underline;
    font-weight: 800;
    font-size: 20px;
    color: #ddd;
}

.newMessageWrapper input,
.newMessageWrapper textarea,
.newMessageWrapper input:hover,
.newMessageWrapper textarea:hover {
    border-radius: 0!important;
    border: 3px solid #d9d9d9!important;
    width: 400px;
}

.messageField {
    margin-top: 15px;
}

.messageWrapper {
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.messageWrapper img {
    width: 50px;
    height: 50px;
    padding: 5px;
}

.messageWrapper button {
    margin-left: 15px;
    border-radius: 3px;
}

.messageWrapper .disableSendButton:hover {
    background: hoverGreyColor;
}

.successEmail {
    color: green;
}
