.iconWrapper>object {
    margin: 0 auto;
    padding: 10px 0;
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.iconWrapper {
    width: 100%;
    height: 47px;
    cursor: pointer;
}

.contentWrapper>.iconWrapper:first-of-type {
    cursor: default;
}

.contentWrapper>.iconWrapper:first-of-type:hover {
    background: inherit;
}

.iconWrapper:hover {
    background: green;
}

.iconWrapper>img {
    width: 100%;
    height: 37px;
    padding-top: 10px;
}

