.userFieldWrapper {
    padding: 10px 10px 0 10px;
}

.userFieldWrapper>h1 {
    font-size: 22px;
    font-weight: 700;
}

.userFieldWrapper>div {
    display: flex;
    align-items: center;
}

.userFieldWrapper p {
    padding: 0!important;
    text-decoration: underline;
    font-size: 17px;
}

.userFieldWrapper span {
    margin-right: 20px;
}
